server:
  port: 8083

spring:
  application:
    name: order-service

  r2dbc:
    url: r2dbc:h2:file:///./orderdb
    username: sa
    password:

  kafka:
    bootstrap-servers: kafka:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

order:
  kafka:
    topic: order-events
