server:
  port: 8080
  
management:
  metrics:
     distribution:
       percentiles-histogram:
         http.server.requests: true
  endpoints:
    web:
      exposure:
        include: prometheus,health,info
  endpoint:
    prometheus:
      enabled: true
logging:
   file:
    name: /app/logs/sample-service.log
   level:
      root: INFO
      com.example.app: DEBUG
   pattern:
      file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

