services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus-local.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    restart: unless-stopped
    networks:
      - monitoring

  loki:
    image: grafana/loki:2.9.2
    container_name: loki
    # Using default internal config, removing custom config mount
    volumes:
      - loki_data:/data
    ports:
      - "3100:3100"
    restart: unless-stopped
    networks:
      - monitoring

  promtail:
    image: grafana/promtail:2.9.2
    container_name: promtail
    volumes:
      - /var/log:/var/log:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./promtail/promtail-config.yaml:/etc/promtail/promtail-config.yaml:ro
      - ./logs/sample-service:/app/logs:rw
      - ./promtail/positions:/promtail
    command:
      - '-config.file=/etc/promtail/promtail-config.yaml'
    restart: unless-stopped
    networks:
      - monitoring

  tempo:
    image: grafana/tempo:2.5.0
    container_name: tempo
    volumes:
      - ./tempo/tempo-config.yaml:/etc/tempo.yaml:ro
      - tempo_data:/var/tempo
    command:
      - '-config.file=/etc/tempo.yaml'
    ports:
      - "9411:9411"
      - "3200:3200"
    restart: unless-stopped
    networks:
      - monitoring

  grafana:
    image: grafana/grafana
    container_name: grafana
    depends_on:
      - prometheus
      - loki
      - tempo
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - monitoring

  sample-service:
    build: ./sample-service
    container_name: sample-service
    ports:
      - "8080:8080"
    volumes:
    - ./logs/sample-service:/app/logs
    environment:
    - TZ=Asia/Dubai
    restart: unless-stopped
    networks:
      - monitoring

volumes:
  prometheus_data:
  loki_data:
  tempo_data:
  grafana_data:

networks:
  monitoring:
    driver: bridge
    attachable: true
