server:
  port: 8082

spring:
  application:
    name: cart-service

  r2dbc:
    url: r2dbc:h2:file:///./cartdb
    username: sa
    password:

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

cart:
  kafka:
    topic: cart-updated
